<% twooter = twoot.user %>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(twooter.email, size: 64, alt: twooter.name) %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
          <%= link_to user_path(twooter) do %>
            <strong><%= twooter.name %></strong><br />
            <small>@<%= twooter.username %></small>
            <% end %>
            <% if twoot.reply? %>
              <% parent_twoot = twoot.replying_to %>
              <% parent_user = User.find(parent_twoot.user_id) %>
              <br/><small>Replying to</small><span><%= link_to parent_user.handle, user_url(parent_user.id) %></span>
            <% end %>
            <p><%= twoot.body %></p>
          </div>
        </div>
      </article>
    </div>

    <div class="panel-block">
      <div class="level is-mobile">
        <div class="level-item has-centered-text">
          <p class="heading"><strong><%= like_count = twoot.likes.count %></strong><%= like_count == 1 ? " like" : " likes" %></p>
        </div>
      </div>
    </div>

  <nav class="level panel-block">
    <div class="level-item has-text-centered">
      <%= link_to new_reply_url(reply_id: twoot.id), class: "level-item" do %>
        <span class="icon"><i class="far fa-comment" aria-hidden="true"></i></span>
      <% end %>
    </div>

    <div class="level-item has-text-centered">
      <%= link_to twoot, class: "level-item" do %>
        <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
      <% end %>
    </div>

    <div class="level-item has-text-centered">
      <% if current_user && twoot.liked_by?(current_user.id) %>
        <%= link_to unlike_url(twoot.id), remote: true, method: :delete, class:"unlike_link level-item", data: { twoot_id: twoot.id } do %>
          <span class="icon"><i class="fas fa-heart"></i></span>
        <% end %>
      <% else %>
        <%= link_to "/like/twoot", class:"like_link level-item", 
                    remote: true, 
                    method: :post, 
                    data: { params: "twoot_id=#{twoot.id}", twoot_id: twoot.id } do %>
          <span class="icon"><i class="far fa-heart" aria-hidden="true"></i></span>
        <% end %>
      <% end %>
    </div>

    <% if user_signed_in? && twoot.user == current_user %>
      <div class="level-item has-text-centered">
        <%= link_to edit_twoot_url(twoot), class: "level-item" do %>
          <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        <% end %>
      </div>
      <div class="level-item has-text-centered">
        <%= link_to twoot, method: :delete, data: { confirm: "Are you sure you want to delete this twoot?" } do %>
          <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
        <% end %>
      </div>
    <% end %>
  </nav>

