<!DOCTYPE html>
<html>
  <head>
    <title>Twooter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if flash[:notice] %>
     <div class="notification if-primary global_notification">
     <p class="notice"><%= flash[:notice] %>
     </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global_notification">
      <p class="alert"><%= flash[:alert] %></p>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
